<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Scheduler</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <div class='input-group'>
                <div class='input-group-addon'>Semester</div> 
                <select ng-model='schedule.semester' class='form-control'>
                    <option ng-repeat='(text, val) in semesters' value='{{val}}'>
                        {{text}} 
                    </option>
                </select>
            </div>
            <br>
            <div class='input-group' ng-class="{ 'has-error' : courseListError }">
                <div class='input-group-addon'>Courses&ensp;</div> 
                <input ng-list id='classList' 
                       ng-model='schedule.courses' 
                       type='text' class='form-control'
                       placeholder='CSCI2040, BIO1010, PSY1000...'>
            </div>
            <br>
            <div ng-show='courseListError' 
                 class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {{courseListError}}
                <a ng-click='courseListError=null;'class="close" data-dismiss="alert">&times;</a>
            </div>
            <hr>
            <button ng-click='submitSchedule()' class='btn btn-success btn-block'>Generate</button>
        </div>
        <div class='col-md-6' ng-show='schedules.length > 0'>
            <hr class='hidden-lg hidden-md'>
            <div id='schedule-slides'>
                <ul class='nav nav-tabs' role='tablist'> 
                    <li ng-repeat='schedule in schedules' role='presentation' ng-class="{active: $first}">
                        <a class='btn btn-success' href='#schedule-{{$index + 1}}' role='tab' data-toggle='tab'>{{$index + 1}}</a>
                    </li>
                </ul>
                <div class='tab-content'>
                    <div calendar data='{{schedule}}' sunday='{{sunday}}' 
                         ng-repeat='schedule in schedules' 
                         id='schedule-{{$index + 1}}' 
                         class='tab-pane fade' 
                         role='tabpanel' 
                         ng-class="{active: $first, in: $first}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
